@charset 'utf-8';

button{cursor:pointer;}
    .login_form{
      width:640px;
      margin:0 auto;
    }
    .language{text-align:right;}
    #lang{
      padding:6px 10px;
      font-size:1.2em;
    }
    form{
      width:460px;
      margin:0 auto;
      padding:30px 0;
    }
    #user_id,#user_pass,button{
      display:block;
      box-sizing:border-box;
      width:100%;
      margin-bottom:20px;
      padding:20px;
      font-size:1.4em;
    }
    form>button{border:none;background-color:#009944;color:#ffffff;}
    form>button:active,form>button:hover{background-color:#0077cc;}

    .login_form{color:#666666;}
    #save_chk{display:none;}
    #chk_box{
      display:inline-block;
      box-sizing:border-box;
      width:14px;
      height:14px;
      border:1px solid #0077cc;
      border-radius:2px;
    }
    #save_chk:checked ~ #chk_box{
      border-color:#009944;
      background-color:#009944;
    }
    #chk_box::before{
      content:'';
      display:inline-block;
      width:6px;
      height:3px;
      border-bottom:1px solid #0077cc;
      border-left:1px solid #0077cc;
      transform:rotate(-45deg) translate(6px,-2px);
    }
    #save_chk:checked ~ #chk_box::before{
      border-color:white;
    }
    hr{margin:50px 0;}
    .sns_login>button{
      border:1px solid transparent;
      padding:10px;
      color:white;
    }
    .sns_login>button:nth-of-type(1){
      background-color:blue;
    }
    .sns_login>button:nth-of-type(1):hover,
    .sns_login>button:nth-of-type(1):focus{
      background-color:transparent;
      border:1px solid blue;
      color:blue;
    }
    .sns_login>button:nth-of-type(2){
      background-color:green;
    }
    .sns_login>button:nth-of-type(2):hover,
    .sns_login>button:nth-of-type(2):focus{
      background-color:transparent;
      border:1px solid green;
      color:green;
    }
    .sns_login>button:nth-of-type(3){
      background-color:yellow;
      color:#666666;
    }
    .sns_login>button:nth-of-type(3):hover,
    .sns_login>button:nth-of-type(3):focus{
      background-color:transparent;
      border:1px solid yellow;
      color:yellow;
    }
    .sns_login>h2{
      padding-bottom:50px;
      font-size:2em;
      color:#333333;
      text-align:center;
    }